:root { 
--gray_50_01:#f8f9fa; 
--gray_50_02:#fafcff; 
--black_900_b2:#000000b2; 
--gray_50_03:#f5f9ff; 
--gray_50_04:#f4f8ff; 
--gray_50_05:#fafafa; 
--light_blue_100:#b0e5fc; 
--light_blue_A100:#67d7fd; 
--gray_50_06:#fffcf3; 
--gray_50_07:#fcfcfc; 
--red_200:#fa9a9a; 
--blue_A200:#3b82f6; 
--red_400:#f14a60; 
--green_A100:#b5eacd; 
--black_900_3f:#0000003f; 
--green_500:#38c869; 
--gray_300_99:#e4e4e499; 
--black_900_01:#090b0d; 
--black_900_00:#00000000; 
--light_blue_A700:#0086ed; 
--deep_orange_300:#ff8a65; 
--blue_gray_900_02:#24363c; 
--blue_gray_700:#535763; 
--blue_gray_900_01:#263238; 
--deep_orange_500:#ff5722; 
--blue_gray_900:#262b35; 
--black_900_02:#130e00; 
--blue_900:#003995; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d6dae2; 
--white_A700_0c:#ffffff0c; 
--blue_gray_300:#9ea8ba; 
--amber_500:#feb909; 
--red_A200:#fe555d; 
--blue_gray_500:#607d8b; 
--black_900_0c:#0000000c; 
--gray_200:#efefef; 
--blue_50:#e0ebff; 
--gray_100_02:#fdf5f4; 
--blue_gray_100_6c:#d1d3d46c; 
--gray_400_01:#b3b3b3; 
--gray_100_01:#fbf1f2; 
--white_A700_67:#ffffff67; 
--white_A700:#ffffff; 
--blue_gray_700_01:#424c5d; 
--deep_orange_50:#f9eee3; 
--blue_gray_50:#eaecf0; 
--red_700:#d03329; 
--blue_A700:#0061ff; 
--blue_gray_100_01:#d9d9d9; 
--blue_gray_900_14:#1f293714; 
--amber_500_02:#ffc107; 
--amber_500_01:#feba09; 
--light_blue_400:#1ba9ff; 
--green_600:#349765; 
--blue_A700_01:#0a58ff; 
--gray_50:#f9fbff; 
--red_100:#f6d6d4; 
--black_900:#000000; 
--blue_A200_02:#588af1; 
--blue_A200_01:#4d90ff; 
--yellow_700:#f4c324; 
--blue_50_7f:#e0ebff7f; 
--blue_50_01:#e0ecff; 
--blue_A700_7e:#0061ff7e; 
--deep_orange_400:#d58c48; 
--purple_A100:#e289f1; 
--gray_700_11:#55555511; 
--black_900_bf:#000000bf; 
--gray_900_02:#0f0e17; 
--gray_900_03:#0d062d; 
--blue_gray_200:#bac1ce; 
--gray_900_04:#151522; 
--gray_500:#979ea5; 
--gray_900_05:#11142d; 
--blue_gray_400:#74839d; 
--blue_800:#0051d5; 
--orange_A700:#ff6700; 
--blue_gray_600:#5f6c86; 
--gray_900:#0d1624; 
--gray_900_01:#18181b; 
--blue_600:#378fd3; 
--blue_gray_300_87:#919eab87; 
--blue_gray_900_7f:#3333337f; 
--orange_300:#ffb543; 
--gray_300:#dfdfdf; 
--gray_300_02:#e0e0e0; 
--gray_300_01:#d2efe0; 
--gray_100:#f4f5f7; 
--white_A700_87:#ffffff87; 
--blue_400:#3a96dd; 
--blue_200:#a6c8ff; 
--gray_800_2b:#4545452b; 
--blue_A700_a2:#0061ffa2; 
--light_blue_400_01:#2cb6f4; 
}